* {
  box-sizing: border-box;
}

[data-color-mode='dark'] {
  --color-scale-black: #1c2128;
  --color-scale-white: #cdd9e5;
  --color-scale-gray-0: #cdd9e5;
  --color-scale-gray-1: #adbac7;
  --color-scale-gray-2: #909dab;
  --color-scale-gray-3: #768390;
  --color-scale-gray-4: #636e7b;
  --color-scale-gray-5: #545d68;
  --color-scale-gray-6: #444c56;
  --color-scale-gray-7: #373e47;
  --color-scale-gray-8: #2d333b;
  --color-scale-gray-9: #22272e;
  --color-scale-blue-0: #c6e6ff;
  --color-scale-blue-1: #96d0ff;
  --color-scale-blue-2: #6cb6ff;
  --color-scale-blue-3: #539bf5;
  --color-scale-blue-4: #4184e4;
  --color-scale-blue-5: #316dca;
  --color-scale-blue-6: #255ab2;
  --color-scale-blue-7: #1b4b91;
  --color-scale-blue-8: #143d79;
  --color-scale-blue-9: #0f2d5c;
  --color-scale-green-0: #b4f1b4;
  --color-scale-green-1: #8ddb8c;
  --color-scale-green-2: #6bc46d;
  --color-scale-green-3: #57ab5a;
  --color-scale-green-4: #46954a;
  --color-scale-green-5: #347d39;
  --color-scale-green-6: #2b6a30;
  --color-scale-green-7: #245829;
  --color-scale-green-8: #1b4721;
  --color-scale-green-9: #113417;
  --color-scale-yellow-0: #fbe090;
  --color-scale-yellow-1: #eac55f;
  --color-scale-yellow-2: #daaa3f;
  --color-scale-yellow-3: #c69026;
  --color-scale-yellow-4: #ae7c14;
  --color-scale-yellow-5: #966600;
  --color-scale-yellow-6: #805400;
  --color-scale-yellow-7: #6c4400;
  --color-scale-yellow-8: #593600;
  --color-scale-yellow-9: #452700;
  --color-scale-orange-0: #ffddb0;
  --color-scale-orange-1: #ffbc6f;
  --color-scale-orange-2: #f69d50;
  --color-scale-orange-3: #e0823d;
  --color-scale-orange-4: #cc6b2c;
  --color-scale-orange-5: #ae5622;
  --color-scale-orange-6: #94471b;
  --color-scale-orange-7: #7f3913;
  --color-scale-orange-8: #682d0f;
  --color-scale-orange-9: #4d210c;
  --color-scale-red-0: #ffd8d3;
  --color-scale-red-1: #ffb8b0;
  --color-scale-red-2: #ff938a;
  --color-scale-red-3: #f47067;
  --color-scale-red-4: #e5534b;
  --color-scale-red-5: #c93c37;
  --color-scale-red-6: #ad2e2c;
  --color-scale-red-7: #922323;
  --color-scale-red-8: #78191b;
  --color-scale-red-9: #5d0f12;
  --color-scale-purple-0: #eedcff;
  --color-scale-purple-1: #dcbdfb;
  --color-scale-purple-2: #dcbdfb;
  --color-scale-purple-3: #b083f0;
  --color-scale-purple-4: #986ee2;
  --color-scale-purple-5: #8256d0;
  --color-scale-purple-6: #6b44bc;
  --color-scale-purple-7: #5936a2;
  --color-scale-purple-8: #472c82;
  --color-scale-purple-9: #352160;
  --color-scale-pink-0: #ffd7eb;
  --color-scale-pink-1: #ffb3d8;
  --color-scale-pink-2: #fc8dc7;
  --color-scale-pink-3: #e275ad;
  --color-scale-pink-4: #c96198;
  --color-scale-pink-5: #ae4c82;
  --color-scale-pink-6: #983b6e;
  --color-scale-pink-7: #7e325a;
  --color-scale-pink-8: #69264a;
  --color-scale-pink-9: #551639;
  --color-scale-coral-0: #ffdacf;
  --color-scale-coral-1: #ffb9a5;
  --color-scale-coral-2: #f79981;
  --color-scale-coral-3: #ec775c;
  --color-scale-coral-4: #de5b41;
  --color-scale-coral-5: #c2442d;
  --color-scale-coral-6: #a93524;
  --color-scale-coral-7: #8d291b;
  --color-scale-coral-8: #771d13;
  --color-scale-coral-9: #5d1008;
  --color-border: var(--color-scale-gray-6);
  --color-selected: #ec765c;
  background-color: var(--color-scale-black);
  color: var(--color-scale-white);
}

html,
body {
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
}

html,
body,
textarea,
input {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

textarea,
input {
  background-color: var(--color-scale-gray-8);
  border: none;
  color: var(--color-scale-white);
  padding: 0.5rem;
}

h1 {
  margin: 1rem 0;
}

#app {
  height: 100vh;
}

.wrapper,
.container,
.lobby-page > .content {
  height: 100%;
}

.user {
  border: 1px solid transparent;
  padding: 0.5rem 1.25rem 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  display: flex;
  align-items: center;

  &.current-user {
    border: 1px solid var(--color-selected);
  }
}

.avatar {
  height: 34px;
  width: 34px;
  margin: 0.5rem;
  border: 2px solid var(--color-scale-white);
  border-radius: 50%;

  &.display {
    height: 182px;
    width: 182px;
    margin: 0.5rem auto 2rem;
  }

  &.large {
    height: 66px;
    width: 66px;
  }

  &.medium {
    height: 34px;
    width: 34px;
  }

  &.small {
    height: 18px;
    width: 18px;
  }

  & img {
    height: 100%;
    width: 100%;
  }
}

.toolbar {
  border-bottom: 1px solid var(--color-border);
}

.sidebar {
  width: 33vw;
  min-width: 100px;
  max-width: 332px;
  background-color: var(--color-scale-gray-9);
  border-right: 1px solid var(--color-border);

  & main {
    padding: 0 1rem 1rem;
  }

  & header {
    & .title {
      margin-left: 0.33rem;
      font-size: 1.33rem;
    }

    & .btn {
      margin-right: 0;
    }
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;

  & header,
  & footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-scale-gray-8);
    padding: 1rem;
  }

  & header {
    height: 64px;
  }

  & main {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  & footer {
    height: 68px;
    justify-content: center;

    & textarea {
      height: calc(100% - 1rem);
      width: calc(100% - 1rem);
      resize: none;
      padding: 0.25rem;
      margin: 0;
    }
  }

  & .sidebar {
    & header {
      background-color: transparent;
    }
  }

  .message {
    padding: 1rem;
    margin: 2rem 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;

    &__body {
      width: calc(75% - 4rem);
    }

    &__content {
      padding: 1rem;
      background-color: var(--color-scale-gray-9);
      border-radius: 6px;
      border: 1px solid var(--color-border);
    }

    & .user {
      padding: 0.5rem 0;
    }

    &.current-user {
      justify-content: flex-end;

      .message__content {
        border-color: var(--color-selected);
      }

      .message__user {
        color: var(--color-selected);
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.lobby-page {
  width: 100%;

  & .room-wrapper {
    display: flex;
    max-height: calc(100vh - 64px);
  }
}

.rounded {
  border-radius: 50%;
}

.btn {
  padding: 0.5rem 0.75rem;
  margin: 0.25rem 0.5rem;
  border: 1px solid transparent;
  cursor: pointer;

  &-link {
    background-color: transparent;
    color: var(--color-scale-white);
    border-color: currentColor;
  }

  &-success {
    background-color: var(--color-scale-green-5);
    color: var(--color-scale-white);
  }

  &-primary {
    background-color: var(--color-scale-blue-5);
    color: var(--color-scale-white);
  }

  &-clear {
    background-color: transparent;
    color: var(--color-scale-white);
    border-color: var(--color-border);
  }

  &.rounded {
    padding: 0.25rem;
  }
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: end;
}

.container {
  & header {
    & .actions {
      display: flex;
      align-items: center;
    }
  }
}

.link {
  text-decoration: none;
  color: var(--color-scale-blue-5);
  margin: 0 0.5rem;
}

.control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  & span {
    font-size: 0.9rem;
    margin: 0.33rem 0.5rem 0.33rem 0;
  }
}
