.btn-user-info {
  display: flex;
  align-items: center;
  border-radius: 6px;

  & .logo {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  & .avatar {
    margin: 0;
  }
}

.lobby-page {
  & .room-list {
    height: calc(100% - 68px);
  }

  & .room-wrapper {
    & .sidebar {
      & footer {
        height: 68px;
        justify-content: end;
      }
    }
  }
}

.room {
  &-link {
    margin: 0.5rem;
    padding: 1.25rem 1.5rem;
    border: 1px solid var(--color-border);
    border-radius: 6px;

    &.current-room {
      border: 1px solid var(--color-selected);
    }

    a {
      text-decoration: none;
      padding-bottom: 0.5rem;
      color: var(--color-scale-white);
    }
  }
}

.chatroom {
  display: flex;
  flex-direction: column;
  height: 100%;

  & header {
    justify-content: flex-start;
    background-color: var(--color-scale-gray-6);

    & .user {
      padding: 0.15rem;
      margin-bottom: 0;
      margin-right: 0.5rem;
    }
  }

  & footer {
    height: 182px;
    background-color: var(--color-scale-gray-6);
  }
}
