.btn-user-info {
  display: flex;
  align-items: center;
  border-radius: 6px;

  & .logo {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  & .avatar {
    margin: 0;
  }
}

.lobby-page {
  & .room-list {
    height: calc(100% - 68px);
  }

  & .room-wrapper {
    & .sidebar {
      & footer {
        height: 68px;
        justify-content: end;
      }
    }
  }
}

.room {
  &-link {
    margin: 0.5rem;
    padding: 1.25rem 1.5rem;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;

    &.current-room {
      border: 1px solid var(--color-selected);
    }

    a {
      text-decoration: none;
      padding-bottom: 0.5rem;
      color: var(--color-scale-white);
    }
  }
}

.chatroom {
  display: flex;
  flex-direction: column;
  height: 100%;

  & header,
  & footer {
    background-color: transparent;
  }

  & header {
    justify-content: flex-start;
    padding: 0.75rem;
    height: 80px;
    border-bottom: 1px solid var(--color-border);

    & .user {
      padding: 0.15rem;
      margin-bottom: 0;
      margin-right: 0.5rem;
    }
  }

  & .message-box {
    height: 164px;
    align-items: stretch;
    padding: 0.25rem;

    & form {
      display: flex;
      margin: 0;
      width: calc(100% - 1.5rem);
      height: calc(100% - 1.5rem);
      align-items: stretch;
      align-self: center;

      & textarea {
        height: 100%;
        border: none;
        background-color: var(--color-scale-gray-8);
        padding: 0.5rem;
        border-radius: 6px 0px 0px 6px;
      }

      & .btn {
        margin: 0;
        border-radius: 0px 6px 6px 0px;
      }
    }
  }
}
